@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #7d6565;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #5c5c5c;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.backG {
  position: relative; /* Makes sure the pseudo-element is positioned correctly */
  background-image: url("https://images.pexels.com/photos/1457842/pexels-photo-1457842.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
  background-position: center;
}

.backG::before {
  content: ""; /* Necessary for pseudo-elements */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Dark overlay with 40% opacity */
  z-index: 0; /* Ensures it stays above the image but below any content */
}

.foreG {
  z-index: 2;
}

